.main-page{
  display: flex;
  flex-direction: row;;
  .main-left-box{
    width: 35vw;
    height: 100vh;
    overflow: auto;

    .img-all-box{
      font-size: 0;
      .single-img-box{
        .single-box-head{
          &>img{
            width: 100;
            height: 30vh;
          }
        }

        .single-box-bottom{

        }
      }
    }
  }

  .main-right-box{
    width: 90vw;
    height: 100vh;
  }
}
